@import "./styles.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.app {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  overflow: hidden;
  color: white;
}

header {
  position: fixed;
  z-index: 5;
  height: 1px;
  width: 100%;
}

body {
  background-color: var(--brown-deep);
}

.app_content{
  background-color: transparent;
  position: relative;
  z-index: 2;
  width: 100vw;
}

.app_background {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  height: 105%;
  left: -75px;
  top: -5%;
}

/* slide 1  */
.slide1 {
  position: relative;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide1_logo_container {
  height: 100px;
  width: 70%;
}

.logo {
  transform-origin: center;
  background-color: transparent; 
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain; 
}

.slide1-bottom-container{
  position: absolute;
  bottom: 100px;
}

.btn-container {
  margin-top: 20px;
  height: 45px;
  width: 150px;
}

.btn-menu {
  cursor: pointer;
  color: #ffffff;
  transition: all 0.5s;
  position: relative;
  line-height: 45px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.svg-wrapper{
  height: 200vh;
  width: 100%;
  position: absolute;
}

.menu-section {
  width: 100%
}

/* text */
.btn-menu span {
  color: rgb(255, 255, 255);
  font-size: 25px;
  position: relative;
  z-index: 3;
}

.btn-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  border-radius: 4px;
  background-color: var(--orange-light);
  transition: all 0.3s;
}

.btn-menu:hover::before {
  opacity: 0 ;
  transform: scale(0.5);
}
.btn-menu::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.6);
  transform: scale(1.2);
  transform-origin: center;
}
.btn-menu:hover::after {
  opacity: 1;
  transform: scale(1);
}
/* MENU */
.menu-svg-container {
  width: 100%;
  height: auto;
  position: relative;
}


/* GALLERY */
.slide-gallery {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  padding: 70px 5%;
  background-color: var(--beige-deep);
}

.slide-gallery .subheading{ color: var(--beige-lightest); }

.gallery-container {
  padding: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: auto;
}

.slide-gallery .spoon {
  margin-bottom: 60px;
}

.g-pic {
  position: relative;
  width: 47.5%;
  height: 200px;
  margin-bottom: 20px;
} 

.g-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.g-line {
  width: 200px;
  position: absolute;
  
  opacity: 0;
  display: block;
  background-color: transparent;
  
  font-size: 54px;
  color: var(--beige-light);
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 54px;
}

.line-1 {
  top: 30%;
  left: -90%;
}

.line-2 {
  top: 55%;
  left: 100%;
}

.line-3 {
  left: 0;
  top: 80%;
  left: -90%;
}

/* SLIDE  ABOUT */
.slide-about {
  background-color: var( --brown-deep);
  color: var(--brown-dark);
  color: #ffffff;
  position: relative;
 }

 .slide-about_content_subheading {
  align-self: center;
  color: var(--beige-lightest);
  font-size: 35px;
  font-weight: 900;
  padding-bottom: 0px;
  margin-bottom: 0px;
  line-height: 25px;
}

 .hero-container {
   width: 55%;
   margin-left: auto;
   overflow: hidden;
 }
 
 .hero-img {
  position: relative;
   margin-top: 50px;
   margin-bottom: 25px;
   width: 100%
 }
 
 .quote-marks svg {
   width: 60px;
   fill: white;
 }
 
 .quote {
   position: relative;
   z-index: 2;
   color: var(--brown-dark);
   color: #ffffff;
 }
 
 .quote h3 {
   color: var(--beige-light);
 }

/* FOOTER  */
footer {
  position: relative;
  z-index: 3;
  height: auto;
  width: 100vw;
  background-color: var(--brown-deep);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

footer .phone-number {
  color: var(--beige-light);
  opacity: 1;
}

.bean-container {
  margin-bottom: 100px;
  
}
.nataYar-wrapper {
  width: 100%;
  padding: .5rem 0px;
  background-color: #927a5f;
  margin-top: 2rem;
  display: inline-flex;
  
}
.nataYar-wrapper a {
  display: inline-flex;
  margin: 0px auto;
  width: auto;
  color: #000;
  font-size: 1rem;
}
.nataYar {
  margin-left: .5rem;
  background-image: url("../images/logo_nata.png");
}

footer .icons {
  width: 100px;
  justify-content: space-around;
  padding-top: 250px;
  padding-bottom: 1rem;
}



@media screen and (min-width: 600px){
  .app_background {
    min-height: 100%;
    min-width: 50%;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 768px){
  header { height: 40px;}

  .slide1_logo_container {
    height: 100px;
    width: 40%;
  }

  .slide-gallery {
    height: auto;
    padding: 100px 5%;
    width: 100%;
  }

  .gallery-container {
    width: 100%;
    padding: 0;
    gap: 30px;
    height: auto;
  }

  .g-pic {
    position: relative;
    width: 46.5%;
    height: 380px;
    margin-bottom: 20px;
  } 

  .g-line { opacity: 0; }

  .line-1 {
    z-index: 1;
    top: 30%;
    left: 10vw;
  }
  
  .line-2 {
    z-index: 10;
    top: 45%;
    left: 75vw;
  }
  
  .line-3 {
    z-index: 3;
    left: 40;
    top: 72%;
    left: 10vw;
  }

  .slide-about {
    padding: 150px 5% 100px 5%;
  }

  .slide-about_content{ margin-left: 55%;}

  .text {  width: 100%; }

  .hero-container {
    position: absolute;
    top: 150px ;
    width: 35%;
    left: 80px;
    overflow: hidden;
  }
  
  .hero-img {
    margin-top: 0px;
    margin-bottom: 25px;
    width: 100%
  }
}

@media screen and (min-width: 1024px){
  .g-pic {
    position: relative;
    width: 25%;
    height: 350px;
    margin-bottom: 20px;
  } 

   .hero-container {
    position: absolute;
    top: 150px ;
    width: 30%;
    left: 200px;
    overflow: hidden;
  }

  .slide-about_content{ margin-left: 50%;}

  .gallery-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 30px;
  }
}