@import "./styles.css";

.past-wrapper {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

.pic-container + p{
  text-align: center;
}

.handlers {
  display: flex;
  align-items: center;
}
.handlers a{
  margin: 0px 10px;
  font-size: 30px;
  cursor: pointer; 
}

.dotsContainer{
  display: flex;
  justify-content: center;
}

.dot {
  margin: 0 8px;
  font-size: 20px;
}

.active-dot {
  color: var(--brown-deep);
}

@media screen and (min-width: 768px){
  .past-wrapper {
    width: 47.5%;
    margin-top: 0px;
  }
  .pic-container {
    width: 100%;
    height: 100%;
  }
  .slide-handler {
    height: 90px;
  }
}