@import './styles.css';

.slide-menu {
background-color: var(--brown-deep);
color: white;
}

.menu-subnav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 100;
}

.menu-subnav li {
    display: inline-block;
}

.menu-subnav a:active, 
.menu-subnav a:hover, 
.menu-subnav a.current-option {
    color: var(--orange-dark);
}

.menu-subnav a {
    color: white;
    display: block;
    margin: 0 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a.back-to-top {
    display: block;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
    color: var(--orange-dark);
}


.menu-pic {
    height: 200px;
    width: 100%;
    overflow-y: hidden;
    /* background-color: aqua; */
    position: relative;
}

.menu-pic img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    /* background-position: 70px; */
    background-color: #cdc1c1;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: contain;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
}