* {
  --orange-light:  hsl(44, 74%, 55%);
  --orange-mid: hsl(47, 69%, 45%);
  --orange-dark: hsl(43, 75%, 45%);
  --orange-bmore:hsl(45, 61%, 43%);
  
  --beige-light: #dccdac;
  --beige-mid: #b59a7c;

  --brown-light: #b87b4f;
  --brown-mid: #7d4829;
  --brown-dark: #55311c;
}

/* ELEMENTS */
.horizontal-line {
  border-bottom: 1px solid  var(--beige-light);
  width: 50%;
}

.spoon {
  width: 40px;
  padding-top: 0px;
  margin-top: 0px;
}

.pointer {
  cursor: pointer;
}

/* FONTS */
 .font-reg-mid {
  /* font-family: "proxima-nova", sans-serif; */
  /* font-weight: 400; */
  /* font-style: normal; */
  }

/* Proxima Nova Condensed Regular */
/* font-family: "proxima-nova-condensed", sans-serif;
font-weight: 400;
font-style: normal; */

.font-fancy {
  /* font-family: "dolce", sans-serif; */
   /* 700 bold, 900 black*/
  /* font-style: normal; */
  font-family: "relation-one", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
}

.font-regular {
  font-size: 16px;
}

.font-big {
  font-size: 22px;
}


/* FONT STYLINGS */
.subheading {
  color: var(--beige-light);
  font-size: 33px;
  text-align: center;
  font-weight: 900;
  padding-bottom: 0px;
  margin-bottom: 0px;
  line-height: 25px;
}


/* COMMONLY USED _________________________________________ */
.slide-100-100 {
    height: 100vh;
    width: 100vw;
  }
  
  .flex-col-center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  
  .flex-col-left {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content:space-evenly;
    margin-left: 0px;
  }
  
  .flex-row {
    display: flex;
    flex-flow: row nowrap;
  }

  .flex-col-row{
    display: flex;
    flex-flow: column wrap;
  }
  
  .width-100 {
    width: 100%;
  }


  /* PADDINGS, MARGINS */
  .margin-btm-small { margin-bottom: 10px;}
  .margin-btm-mid { margin-bottom: 20px; }
  .margin-btm-big { margin-bottom: 40px; }

  .margin-top-mid { margin-top: 20px; }
  .margin-top-big { margin-top: 40px; }

  .margin-auto {
    margin-left: auto;
    margin-right: auto;
  }
  /*  */
  .padding-small {
    padding: 10px;
  }

  .padding-slide {
    padding: 50px 20px;
  }
  /*  */
  .radius-small {
    border-radius: 3px;
  }
  .radius-mid {
    border-radius: 8px;
  }

  
  @media screen and (min-width: 768px){
    .flex-col-row{
      flex-flow: row-reverse wrap;
    }
    
  }