* {
  --orange-light: #e6b738;
  --orange-mid: #c2a024;
  --orange-dark: #c9981d;
  --orange-bmore: #b08f2b;
  
  --beige-light: #dccdac;
  --beige-slide: #D2B48c;
  --beige-mid: #b59a7c;
  --beige-dark: #a99175;
  --beige-deep: #927c63;

  --brown-light: #b87b4f;
  --brown-mid: #674632;
  --brown-dark: #55311c;
  --brown-deep: #0d0703;
}

/* ELEMENTS */
.spoon {
  width: 40px;
  padding-top: 0px;
  margin-top: 0px;
}

.pointer {
  cursor: pointer;
}

/* FONTS */
 .font-reg-mid {
  /* font-family: "proxima-nova", sans-serif; */
  /* font-weight: 400; */
  /* font-style: normal; */
  }

/* Proxima Nova Condensed Regular */
/* font-family: "proxima-nova-condensed", sans-serif;
font-weight: 400;
font-style: normal; */

.font-fancy {
  /* font-family: "dolce", sans-serif; */
   /* 700 bold, 900 black*/
  /* font-style: normal; */
  font-family: "relation-one", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
}

.font-fancy-2 {
  font-family: "operetta-12", serif;
  /* font-family: "operetta-18", serif; */
  /* font-family: "operetta-32", serif; */
  font-weight: 400;
  font-style: normal;
  /* font-weight: 700; */
}

.font-regular {
  font-size: 16px;
}

.font-big {
  font-size: 22px;
}

.font-giant {
  font-size: 40px;
}
.font-giant-2 {
  font-size: 30px;
}


/* FONT STYLINGS */
.subheading {
  color: var(--brown-deep);
  /* color: var(--orange-light); */
  font-size: 35px;
  text-align: center;
  font-weight: 900;
  padding-bottom: 0px;
  margin-bottom: 0px;
  line-height: 25px;
}


/* COMMONLY USED _________________________________________ */
  .slide-100-100 {
    min-height: 100vh;
    width: 100vw;
  }
  
  .flex-col-center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  
  .flex-col-left {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content:space-evenly;
    margin-left: 0px;
  }
  
  .flex-row {
    display: flex;
    flex-flow: row nowrap;
  }

  .flex-col-row{
    display: flex;
    flex-flow: column wrap;
  }
  
  .width-100 {
    width: 100%;
  }


  /* PADDINGS, MARGINS */

  .margin-btm-small { margin-bottom: 10px;}
  .margin-btm-mid { margin-bottom: 20px; }
  .margin-btm-big { margin-bottom: 40px; }

  .margin-top-small { margin-top: 5px; }
  .margin-top-mid { margin-top: 20px; }
  .margin-top-big { margin-top: 40px; }

  .margin-auto {
    margin-left: auto;
    margin-right: auto;
  }
  /*  */
  .padding-small {
    padding: 10px;
  }

  .padding-slide {
    padding: 70px 5%;
  }
  /*  */
  .radius-small {
    border-radius: 3px;
  }
  .radius-mid {
    border-radius: 8px;
  }

  @media screen and (min-width: 768px){
    .flex-col-row{
      flex-flow: row-reverse wrap;
    }
    .padding-slide {
      /* padding: 60px 15%; */
    }
  }