/* coffee leaf svg */
.coffee-leaf-fill { fill: var(--beige-light)}

.scoop-fill  { fill: var(--beige-mid)}

.cls-1, .cls-2, .cls-3 {
  fill: var(--beige-light)
}
#knife { 
   width: 100%;
   height: 100%;
    padding: 0;
    margin: 0;
}

#avocado {
    width: 100px;
    position: absolute;
    top: 390px;
    left: 30px;
    transform: rotate(-90deg);
}
.avocado-fill {
    fill: #927c63;
}

#tomato {
    opacity: 0.1;
    width: 110px;
    position: absolute;
    top: 0px;
    right: 39px;
    z-index: 1;
}

.tomato-fill {
    fill: var(--beige-deep)
}

#leak {
    opacity: 0.1;
    width: 110px;
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 50px;
    transform: rotate(10deg);
}

.leak-fill {
    fill:var(--beige-deep);
}

.coffee-leaf {
    width: 100px;
    position: absolute;
    z-index: 2;
    left: 28%;
    bottom: -65%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) ;
}

.scoop {
    opacity: .3;
    width: 230px;
    position: absolute;
    z-index: 2;
    right: -10px;
    top: -70px;
    transform: rotate(40deg);
    transform-origin: right;
}
.bean-container { 
    position: absolute;
    right: 110px;
    top: 20px;
    transform: rotate(40deg);

    height: auto;
    width: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
}
.bean {
    position: relative;
    opacity: 0;
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size:cover;
}
.bean1 { 
    /* background-color: blueviolet; */
    background-image: url(../images/svg/beans/bean1.svg);
    width: 45px;
    height: 27px;
}
.bean2 { 
    /* background-color: blue; */
    width: 44px;
    height: 27px;
    background-image: url(../images/svg/beans/bean2.svg);}

.bean3 { 
    /* background-color: brown; */
    width: 31px;
    height: 26px;
    background-image: url(../images/svg/beans/bean3.svg);}

.bean4 { 
    top: 10px;
    /* background-color: aqua; */
    width: 30px;
    height: 30px;
    background-image: url(../images/svg/beans/bean4.svg);}

.bean5 { 
    /* background-color: burlywood; */
    width: 40px;
    height: 23px;
    background-image: url(../images/svg/beans/bean5.svg);}